# Python
__pycache__/
*.py[cod]
*$py.class
.env

# Node
node_modules/
dist/
dist-electron/

# Project specific
screenshots/
samples/
ml-fastvlm/
timeline.db
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Electron
out/

# Misc
-p