# Python
__pycache__
*.py[cod]
*$py.class
.env
.venv/
venv/

# Node
node_modules/
dist/
dist-electron/

# Project specific
screenshots/
samples/
ml-fastvlm/
timeline.db
*.log
extension/Downloads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Electron
out/

# Misc
-p

media/
